nav{
    float:right;
    width: 10%;
    display: block;
    display: inline;
    background-color: white;
    color: black;
    border-radius: 10px; /* Rende tondo lo spigolo del bordo*/
    box-shadow: 5px 5px blue; /*ombra div*/
    border: 2px solid orange; /*Bordo spesso 2 px arancione*/
}
p{
    text-shadow: 2px 2px 5px blue; /*Sfocatura testo*/
    text-align: center;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; /*Grossetto*/
    padding: 10px 5px 2px 2px; /*padding-top padding-rigth  padding-bottom paddin-left*/
    margin: 10px 5px 5px 5px; /*margin-top margin-rigth margin-bottom margin-left*/
    font-style: italic; /*Inclina le scritte*/
}
nav li{
    list-style-type: square; /*Modifica la grafica dei punti della lista*/
    line-height: 2em; /*Interlinea*/

}
table{
    border-spacing: 1px; /*specifica lo spazio tra le celle della tabella*/
    border-collapse: separate; /*può essere "separate" o "collapse" ed aggiunge o toglie il bordo*/
}
nav a:hover{
    text-decoration: underline; /*Sottolineatura*/
     
}


@keyframes animate {
    from {background-color: red;color:white;} 
    to {background-color: green;color:black}
}
input[type=submit]:hover{
    animation-name: animate; /*Nome animazione*/
    animation-duration: 3s; /*Durata animazione*/
}
input{
    transform: rotate(10deg); /*Ruota di 10 gradi tutti gli input*/
   
}
h1{
    text-decoration: line-through; /*Linea che passa in mezzo al testo (effetto cancellato)*/
}